{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create A New Page
{% endblock %}

{% block body %}

    <form method="post">
        {% csrf_token %}
        <div class="form-group mt-5">
            <label for="entryTitle">Enter a title for your entry</label>
            <input type="text" class="form-control" name="title" id="entryTitle" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="entryContent">Enter the content of your entry</label>
            <textarea class="form-control" id="entryContent" name="content" rows="5" placeholder="Enter the Markdown content for page"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}