{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create A New Page
{% endblock %}

{% block body %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group mt-5">
            <label for="entryTitle">Edit the title your entry</label>
            <input type="text" class="form-control" name="title" id="entryTitle" value="{{ title }}">
        </div>
        <div class="form-group">
            <label for="entryContent">Edit the content of your entry</label>
            <textarea class="form-control" id="entryContent" name="content" rows="5">{{ content }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save Page</button>
    </form>
{% endblock %}